    {{#each header_list}}
        <li>
            <a href="{{headerLink}}" target="_blank" rel="nofollow">
                <img src="{{headerImg}}" alt="some img" >
            </a>
        </li>
    {{/each}}